.all {
    font-family: "Poppins", sans-serif;
   margin-left: 600px;

}


.sign input {
    border-radius: 10px;
   width: 26%;
   height: 30px;
    border: 1px solid rgba(147, 147, 147, 0.862);
}

.sign button {
  
    border-radius: 10px;
   background-color:   rgba(124, 255, 144, 0.287);
  
   padding: 10px 20px;
   border: none;
   border: 1px solid black;
   color: black;
}

body {
    width: 100%;
    background-color: aqua;
}
a{
    text-decoration: none;
    color: black;
}